
.tab-background-color{
    --background: var(--ion-color-primary);
}

.tab-button{
    font-family:verdana;
    color:#5dbcd2;
}

.tab-selected{
    font-family:verdana;
    color:  white!important;
  }