.input-label{
    width:90%;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-icon{
    margin-left: -0.5em;
}

.show-icon{
    margin-right: -0.1em;
}

.forgot-password{
    margin-top:-0.6em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family:verdana;
}

.my-toolbar{
    --background:  var(--ion-color-primary);
    color:white;
    font-family:verdana;
}

.close-button{
    --box-shadow:none;
}

.font{
    font-family:verdana;
}

.login-button{
    font-family:verdana;
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
  
  }