<ion-header >
  <ion-toolbar class='my-toolbar'>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" class='popover-button' (click)="createPopover($event)">
      <ion-icon name="person-outline" ></ion-icon>
    </ion-button>
      
    <ion-title>
      <img src="/assets/enisyst_blue.png" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <img *ngIf="!enilyserLogin" class='center' src="/assets/charging_station.jpg" alt="" />

  <ion-card *ngIf="enilyserLogin">
    <ion-card-header>
      <ion-card-title>{{enilyserName}}</ion-card-title>
      <ion-card-subtitle>{{enilyserID}}</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        {{enilyserResponse}}
      </ion-item>
      <ion-button expand='block' margin (click)="logoutEnilyser()">
        Abmelden vom Enilyser
      </ion-button>
    </ion-card-content>

  </ion-card>
  
  <ion-button class='scan-button' expand='block' margin (click)="tryScanning()">Scanne QR Code</ion-button>
  



</ion-content>
